@media only screen and (max-width: 832px){
  body h1, body h2, body h3 {font-family: "neue-haas-grotesk-text"; letter-spacing: normal; font-size: 1.4em; line-height: normal;}
  body .container-text {margin: 10px 16px; width: auto}
  .project:hover .popup {
    bottom: 0px;
    width: 100vw;
  }
}

body {color: black; margin: 0px;}
h1, h2, h3 {font-family: "neue-haas-grotesk-display", sans-serif; letter-spacing: 0.5px; font-size: 30px; font-weight: normal; line-height: 1.3em;}
h1 {margin: 0;}
h2 {margin: 16px 0;}
p {font-family: "neue-haas-grotesk-text";}
ul, ol {font-family: "neue-haas-grotesk-text"; font-variant-numeric: tabular-nums; margin: 0; padding: 0; line-height: 1.3em;}
a, a:hover {
  cursor: pointer;
	color: blue;
	text-decoration: none;
}
b {color: #999; font-weight: normal}
img {width: 100%;}
select {
  font-family: "neue-haas-grotesk-display", sans-serif; 
  letter-spacing: 0.5px; 
  font-size: 30px; 
  font-weight: normal; 
  line-height: 1.3em;

  color: blue;
  border:0px;
  outline:0px;
}
#clientList {
  cursor: move;
  display: none;
  margin: 0;
}
#clientList p {margin-top: 0};
#resizing-select {
  width: 215px;
} 
#width-tmp-select{
 display : none;
} 
.container-text {
  margin: 10px 16px; 
  width: 800px;
}
.flex-parent {
  display: flex;
}
.flex-child {
  display: flex;
}
.project .popup {
  display: none;

}
.project:hover .popup {
  display: block;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  right: 0px;
  width: 300px;
  color: white;
  background-color: blue;
}
.project:hover .popup p {
  margin: 1em;
}