body {color: black; margin: 0px;}
h1, h2, h3 {font-family: "neue-haas-grotesk-display", sans-serif; letter-spacing: 0.5px; font-size: 30px; font-weight: normal; line-height: 1.3em;}
h1 {margin: 0;}
h2 {margin: 0.5em 0;}
p {font-family: "neue-haas-grotesk-text";}
a, a:hover {
	color: blue;
	text-decoration: none;
}
img {width: 100%;}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 400px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {display: block;}
.container-text {margin: 10px 16px; width: 800px;}